/*-  SELF-CLEARING FLOATS
----------------------------------------------------------------------*/
.float_fix:after,
.mod:after,
.section:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.float_fix,
.mod,
.section {
	zoom: 1;
}