#page {
	margin: 36px auto;
	width: 90%;
	background-color: #f3f3f3;
}

body {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	background-color: #f3f3f3;
}

h1 {
	color: #D33381;
	border-bottom: black 3px dotted;
}

#footer {
	background-color: #ffffff;
}

#header {
	background-color: #c0e587;
}
