@CHARSET "UTF-8";

.logo {
	float: left;
	width: 16.875%;	/* 162 / 960 */
}

.logo a {
	display: block;
	padding: 0px 14.8148148% 0px 0px;	/* 24 / 162 */
}
.logo img {
	display: block;
	margin-left: -4px;
}