@CHARSET "UTF-8";


h1 {
	font-size: 1.5em; /* 24px / 16px */
	font-style: italic;
	font-weight: normal;
}

h1 a {
	font-weight: bold;
	font-size: 0.458333333333em; /* 11px / 24px */
	color: #747474;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-decoration: none;
}



.central_footer {
	background: #fcfff4; /* old browsers */
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 59%, #b3bead 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(59%,#dfe5d7), color-stop(100%,#b3bead)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* ie */	
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfff4, endColorstr=#b3bead)";
	/*background: #f3f3f3;*/ 
	margin: 3px;
	padding: 4px;
	border: 1px solid #777777;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align: right;
	/*float: right;*/
}
.central_footer_text a {
	font-weight: bold;
	text-decoration: none;
	color: #48802C;
}

.central_body {
	background: #E0E0E0;
	background-colr: #E0E0E0; 
	margin: 0px 0px 0px 0px;
	padding: 5px;
	border: 1px solid #E0E0E0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*text-align: right;*/
	float: left;
		
	/*width: 900px;*/
	/*width: 100%;*/
	/*float: right;*/
}

.apps {
	background: #f3f3f3; 
	padding: 4px;
	margin: 3px;	
	border: 1px solid #777777;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

/*
.central_body {
	background: #f3f3f3; 
	margin: 3px;
	padding: 4px;
	border: 1px solid #777777;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
*/
.central_body_text {
}
.central_body_text a {
	font-weight: bold;
	text-decoration: none;
}