@CHARSET "UTF-8";

@import url("styles_footer.css");
@import url("styles_header.css");

body {
	background: #CECECE url("/images/body.gif");
	background: url("/images/london.png") repeat-x 0% 0px,
		url("/images/body.gif") repeat -50% 0,
		#CECECE;
	color: #000000;
	font: normal 100%/1.5 Verdana, Arial, Geneva, Helvetica, sans-serif;
}
.ie7 body {
	background: #CECECE url("/images/body.gif");	/* Stupid IE7 bug is stupid. */
}

img {
	max-width: 100%;
}
.ie6 img {
	width: 100%;
}

.half_transparent {
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
}

.white_background {
	background-color: #ffffff;
}

.green_background {
	background-color: #c0e587;
}

.grey_backround {
	background-color: #f3f3f3;
}

.blog {
	margin: 0 auto 53px;
	width: 93.75%; /* 900px / 960px */
}

.blog .main {
	float: left;
	width: 62.8888889%; /* 566px / 900px */
}

.blog .other {
	float: right;
	width: 36.7777778%; /* 331px / 900px */
}

.blog .article {
	font-size: 0.875em;			/* 14px / 16px */
	padding: 40px 8.48056537%;	/* 48px / 566px */
}

.lede {
	padding: 0.8em 5.33333333; /* 48px / 900px */
	position: relative;
	z-index: 100;
}

.lede:after {
	content: ".";
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}